nav {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white !important;
}

.header {
  max-height: 200px;
}

.header div {
  padding: 1px;
  margin: 0
}

img {
  width: 100%
}

.headerOne img {
  padding: 3px;
  height: 94.5%
}