@font-face {
  font-family: filson;
  src: url(../fonts/FilsonPro-Regular.ttf);
}

@font-face {
  font-family: filson-bold;
  src: url(../fonts/FilsonPro-Bold.ttf);
}

body {
  font-family: filson;
}

nav {
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: white !important;
  height: 110px;
}

#navbarSupportedContent {
  /* margin-right: 5rem; */
}

.logo {
  margin-left: 5rem;
}

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 0
  }
}

@media screen and (max-width: 575px) {
  .headerOne Img {
    height: 99.5% !important;
  }
}

.nav-link {
  font-family: filson-bold;
  color: black !important;
}

.nav-link:hover {
  color:#445296 !important;
}

.logo {
  width: 250px;
}

.collapse.show {
  z-index: 1;
  background: white !important;
  padding: 5px 20px;
}

.collapsing {
  z-index: 1;
  background: white !important;
  padding: 5px 20px;
}

.header div {
  padding: 0px;
  margin: 0
}

img {
  width: 100%
}

.headerOne img {
  padding-right: 2px;
  height: 90.3%;
  padding-left: 2px;
}

.headerTwo img {
  padding-right: 2px;
  padding-bottom: 2px;
}

.caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* font-weight: bold; */
  font-family: filson-bold;
}

.vertical-line {
  margin: 0 20px;
  width: 40px;
}

.vertical-line hr {
  border-color: #445296;
}

.btn-custom {
  border-radius: 40px;
  background-color: #445296;
}

.btn-custom > span {
  margin: 10px 40px;
  color: white;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails {

}
/* .carousel-control-prev {
  left:  -39px;
  opacity: 1;
  background-color:#333;
}

.carousel-control-next {
  right: -45px;opacity: 1;
   background-color:#333;
  } */

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-item > .item {
  height: 333px !important;
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    /* height: auto */
    height: 100%
}

.owl-carousel .item {
    margin: 20px;
}

.hover {
  transform: scale(1.28);
}

.owl-carousel {
    margin-bottom: 15px
}

.owl-carousel .owl-wrapper-outer {
  overflow: inherit !important;
}

.item-bottom {
  width: 68%;
  left: 0;
  background: #fffefe;
  margin-top: -12px;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0px 11px 25px 5px grey;
  right: 0;
  left: 16%;
}

.item-bottom span {
  vertical-align: -webkit-baseline-middle;
  display: block;
  margin: 10px 10px
}

#page-content {
  background-color: #ebecf4;
  text-align: center;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.footer-link {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  font-family: filson-bold;
}

.footer-link:hover {
  text-decoration: none;
  color: #445296;
}

.footer-icon {
  color: #445296;
}

.contact {
  margin: 130px;
  min-width: 260px;
}

@media screen and (max-width: 505px) {
  .contact {
    margin: 130px 50px
  }
}

@media screen and (max-width: 1000px) {
  .contact {
    margin: 130px 70px
  }
}

.section-title {
  font-family: filson-bold;
}

.gallery-section {
  font-family:filson-bold;
}

@media screen and (max-width: 767px) {
  .map {
    height: 500px;
  }
}