nav {
  max-width: 1600px;
  margin: 0 auto;
  background-color: white !important;
  height: 110px;
}

.logo {
  width: 250px;
}

.header > div {
  /* max-height: 705px; */
}

.header div {
  padding: 0px;
  margin: 0
}

img {
  width: 100%
}

.headerOne img {
  padding-right: 2px;
  height: 90.3%;
  padding-left: 2px;
}

.headerTwo img {
  padding-right: 2px;
  padding-bottom: 2px;
}

.caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.vertical-line {
  margin: 0 20px;
  width: 40px;
}

.vertical-line hr {
  border-color: #445296;
}

.btn-custom {
  border-radius: 40px;
  background-color: #445296;
}

.btn-custom > span {
  margin: 10px 40px;
  color: white;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails {

}
/* .carousel-control-prev {
  left:  -39px;
  opacity: 1;
  background-color:#333;
}

.carousel-control-next {
  right: -45px;opacity: 1;
   background-color:#333;
  } */

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}

.owl-carousel .owl-wrapper-outer {
  overflow: inherit !important;
}

.item-bottom {
  width: 200px;
    height: 37px;
    margin: 0 auto;
    background: #fffefe;
    margin-top: -20px;
    border-radius: 5px;
    position: absolute;
    margin-left: 62px;
    box-shadow: 0px 11px 25px 5px grey;
    text-align: center;
}

.item-bottom span {
  vertical-align: -webkit-baseline-middle;
}

#page-content {
  background-color: #ebecf4;
  text-align: center;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.footer-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: none;
  color: #445296;
}

.footer-icon {
  color: #445296;
}